@page
@model WebApplication1.Pages.AddToDatabaseModel
@{
}
<form method="post">
            <input type="text" asp-for="@Model.pubName" value="" placeholder="Název hospody">
            <input type="text" asp-for="@Model.pubLocation" value="" placeholder="Lokace hospody">
        <button type="submit">Odeslat</button>
</form>
